/.vscode
main
main.exe
/build
CMakeLists.txt
.gitignore
model3d/humanoid.blend
.gitignore
.gitignore
model3d/humanoid.glb
model3d/humanoid.blend1
save_data/save_model_data.bin
save_data/world3d.sav
save_data/log_file.txt
